{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<main class="mt-20">
		<div class="container mx-auto px-4 py-12">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
				<div class="text-center">
					<div class="w-36 h-36 bg-gray-700  mx-auto"></div>
					<h2 class="text-xl font-semibold mt-4">Heading</h2>
					<p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolores velit, quo vitae harum quis dignissimos praesentium quia error dolor!</p>
					<a href="#" class="text-blue-500 mt-4 block">View details &raquo;</a>
				</div>
				<div class="text-center">
					<div class="w-36 h-36 bg-gray-700 mx-auto"></div>
					<h2 class="text-xl font-semibold mt-4">Heading</h2>
					<p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolores velit, quo vitae harum quis dignissimos praesentium quia error dolor!</p>
					<a href="#" class="text-blue-500 mt-4 block">View details &raquo;</a>
				</div>
				<div class="text-center">
					<div class="w-36 h-36 bg-gray-700  mx-auto"></div>
					<h2 class="text-xl font-semibold mt-4">Heading</h2>
					<p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolores velit, quo vitae harum quis dignissimos praesentium quia error dolor!</p>
					<a href="#" class="text-blue-500 mt-4 block">View details &raquo;</a>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
