<nav class="bg-white border-b border-gray-200 shadow-sm">
	<div class="container mx-auto px-4 flex items-center justify-between py-4 gap-3">

		<a href="#" class="text-gray-800 text-xl font-semibold whitespace-nowrap">Test Mink</a>

		<div class=" lg:flex lg:items-center lg:justify-between w-full">
			<ul class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-6">
				<li>
					<a href="#" class="text-gray-700 hover:text-gray-900 transition duration-300">Home</a>
				</li>

			</ul>

			<div class="flex space-x-4 mt-4 lg:mt-0">
				<a href="#" class="text-gray-600 hover:text-gray-900 transition duration-300">
					<i data-feather="user">USER</i>
				</a>
				<a href="#" class="text-gray-600 hover:text-gray-900 transition duration-300">
					<i data-feather="shopping-cart">CART</i>
				</a>
			</div>
		</div>
	</div>
</nav>
