{% block title %}Liste des Animaux
{% endblock %}

{% block body %}
	{% if animals is not empty %}
		<div {{ vue_component('Animals', {'animals': animals, 'types': types, 'races': races} ) }}></div>
	{% else %}
		<p>Aucun animal trouvé.</p>
	{% endif %}
{% endblock %}
