{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="container">
		<a href="{{path('app_logout')}}">
			Se deconnecter</a>
	</div>
{% endblock %}
